* {
	box-sizing: border-box;
	margin: 0
}
html {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

* {
	color: #3c4858;
}

ul {
	list-style-type: none;
	padding: 0;
}

button:focus {
	outline: none;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	width: 960px;
	min-height: 100vh;
	margin: 0 auto;
}

.btn-load {
	position: relative;
	cursor: pointer;
	padding: 15px;
	border: 2px solid #3c4858;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 700;
	background-color: transparent;
	text-transform: uppercase;
	letter-spacing: 3px;
	transition: all 0.2s ease-in-out;
}

.btn-load::after {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 100%;
	transition: all 0.3s ease-in-out;
	background-color: #3c4858;
}

.btn-load:hover {
	color: #fff;
}

.btn-load:hover::after {
	right: 0;
}

.title {
	margin-bottom: 20px;
	font-size: 2.67rem;
	font-weight: 700;
}

.music__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
	text-align: center;
}


.music__item {
	width: 30%;
	margin-bottom: 1.5rem;
	cursor: pointer;
}

.music__item:hover .music__album {
	box-shadow: 0 0 30px #C0CCDA;
}

.music__album {
	width: 100%;
	height: auto;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
}

.music__title {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 1.14rem;
	font-weight: 700;
}

.music__desc{
	color: #8492a6;
}

.copyright {
	margin-top: 20px;
	font-size: 0.8rem;
	color: #8492a6;
}